@use 'styles/breakpoints' as *;

.page-title {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--text-primary);
}

@include below-md {
  .page-title {
    font-size: 1.375rem;
  }
}
