@if (tableMounted()) {
  <app-data-table
    entityTab="transport"
    [definition]="table"
    [loader]="loadRoutes"
    [rowClickEnabled]="true"
    [emptyActionRoute]="createUrl"
    [emptyActionLabelKey]="createLabelKey"
    (rowClick)="onRowClick($event)"
    (rowAction)="onRowAction($event)"
  >
    <ng-template [appTableCell]="transportKey" let-row>
      <app-route-display [origin]="row.origin" [destination]="row.destination" />
    </ng-template>
    <ng-template [appTableCell]="statusKey" let-row>
      <app-status-badge [status]="row.status" />
    </ng-template>
    <ng-template [appTableCell]="vehicleKey" let-row>
      <app-vehicle-display [name]="row.vehicleName" [plate]="row.vehiclePlate" />
    </ng-template>
    <ng-template [appTableCell]="vehicleTypeKey" let-row>
      <app-vehicle-type-display [vehicleType]="row.vehicleType" />
    </ng-template>
    <ng-template [appTableCell]="periodKey" let-row>
      <app-date-range-display
        [from]="row.transportStartDate"
        [to]="row.transportEndDate"
      />
    </ng-template>
  </app-data-table>
}
