<header class="topbar guest-topbar">
  <app-brand-mark [linkUrl]="landingUrl" />

  @if (showNavActions()) {
    <nav class="guest-topbar__nav" aria-label="Guest navigation">
      <a class="guest-topbar__link" [routerLink]="signInUrl">
        {{ 'guest.topbar.signIn' | translate }}
      </a>
      <a class="guest-topbar__btn" [routerLink]="registerUrl">
        {{ 'guest.topbar.register' | translate }}
      </a>
    </nav>
  }

  <div class="topbar__spacer"></div>

  <div class="topbar__actions">
    <app-theme-picker />
    <app-language-picker />
  </div>
</header>
