<div class="offer-menu">
  <button
    type="button"
    class="offer-menu__trigger"
    [attr.aria-label]="'shared.topbar.offer.openMenu' | translate"
    [attr.aria-expanded]="menuOpen()"
    aria-haspopup="menu"
    (click)="toggleMenu()"
  >
    <svg lucidePlus [size]="18" />
  </button>

  @if (menuOpen()) {
    <div class="offer-menu__panel" role="menu">
      @for (option of options; track option.createUrl) {
        <button
          type="button"
          class="offer-menu__item"
          [ngClass]="entityContextClass(option.entityTab)"
          role="menuitem"
          (click)="selectOption(option.createUrl)"
        >
          <span class="offer-menu__icon">
            <ng-container *ngComponentOutlet="option.icon; inputs: iconInputs" />
          </span>
          <span class="offer-menu__label">{{ option.labelKey | translate }}</span>
        </button>
      }
    </div>
  }
</div>
