<div class="lang-picker">
  <button
    type="button"
    class="lang-picker__trigger"
    [attr.aria-label]="'topbar.changeLanguage' | translate"
    [attr.aria-expanded]="menuOpen()"
    aria-haspopup="listbox"
    (click)="toggleMenu()"
  >
    <svg lucideGlobe [size]="20" />
  </button>

  @if (menuOpen()) {
    <ul class="lang-picker__menu" role="listbox">
      @for (lang of languages; track lang.code) {
        <li role="option" [attr.aria-selected]="languageService.lang() === lang.code">
          <button
            type="button"
            class="lang-picker__option"
            [class.lang-picker__option--active]="languageService.lang() === lang.code"
            (click)="selectLanguage(lang.code)"
          >
            {{ lang.labelKey | translate }}
          </button>
        </li>
      }
    </ul>
  }
</div>
