@if (tableMounted()) {
  <app-data-table
    entityTab="warehouses"
    [definition]="table"
    [loader]="loadWarehouses"
    [rowClickEnabled]="true"
    (rowClick)="onRowClick($event)"
    (rowAction)="onRowAction($event)"
  >
    <ng-template [appTableCell]="warehouseKey" let-row>
      <app-warehouse-display [name]="row.name" [city]="row.city" />
    </ng-template>
    <ng-template [appTableCell]="typeKey" let-row>
      <span>{{ warehouseTypeLabel(row.type) | translate }}</span>
    </ng-template>
  </app-data-table>
}
