@use 'styles/breakpoints' as *;

@mixin shell-content {
  flex: 1;
  overflow-y: auto;
  padding: var(--layout-padding-y) var(--layout-padding-x);

  @include below-md {
    padding: var(--layout-padding-y-mobile) var(--layout-padding-x-mobile);
  }
}
