<div class="form-field">
  @if (field().labelKey) {
    <span class="form-label">{{ field().labelKey! | translate }}</span>
  }

  <div class="form-radio-group">
    @for (option of options(); track option.value) {
      <label class="form-radio-option">
        <input
          class="form-radio-option__input"
          type="radio"
          [name]="field().key"
          [value]="option.value"
          [formControl]="$any(control())"
        />
        <span class="form-radio-option__content">
          <span class="form-radio-option__label">{{ option.labelKey | translate }}</span>
          @if (option.descriptionKey) {
            <span class="form-radio-option__description">{{
              option.descriptionKey | translate
            }}</span>
          }
        </span>
      </label>
    }
  </div>

  @if (showError()) {
    <p class="form-field__error">{{ 'forms.common.fieldRequired' | translate }}</p>
  }
</div>
