<app-page-title [titleKey]="pageTitleKey" />

<app-form-page [definition]="formDef" [formGroup]="form" (submit)="onCreate()">
  <ng-template [appFormField]="priorityFieldKey" let-control="control">
    <app-delivery-priority-cards [control]="$any(control)" />
  </ng-template>

  <ng-template [appFormSection]="packageSectionKey" let-value let-form="form">
    <app-package-items-section [form]="form" [value]="value" />
  </ng-template>

  <ng-template [appFormSection]="servicesSectionKey" let-form="form">
    <app-shipment-services-section [form]="form" />
  </ng-template>

  <ng-template [appFormStep]="reviewStepKey" let-value let-form="form">
    <app-shipment-review-step [form]="form" [value]="value" />
  </ng-template>
</app-form-page>
