@use 'styles/breakpoints' as *;

:host {
  display: block;
}

.detail-page-layout {
  display: flex;
  flex-direction: column;
}

.detail-page-layout__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.25rem;

  &:empty {
    display: none;
  }
}

@include below-md {
  .detail-page-layout__actions {
    justify-content: stretch;
  }
}
