<app-page-header>
  <app-page-title [titleKey]="pageTitleKey" [subtitleKey]="pageSubtitleKey" [icon]="pageIcon" />
  <app-primary-action-link [route]="createUrl" [labelKey]="createLabelKey" />
</app-page-header>

@if (tableMounted()) {
  <app-data-table
    [definition]="table"
    [loader]="loadRoutes"
    (rowAction)="onRowAction($event)"
  >
    <ng-template [appTableCell]="routeKey" let-row>
      <app-route-endpoints [origin]="row.origin" [destination]="row.destination" />
    </ng-template>
    <ng-template [appTableCell]="vehicleKey" let-row>
      <app-vehicle-display [name]="row.vehicleName" [plate]="row.vehiclePlate" />
    </ng-template>
  </app-data-table>
}
