@if (tableMounted()) {
  <app-data-table
    entityTab="vehicles"
    [definition]="table"
    [loader]="loadVehicles"
    [rowClickEnabled]="true"
    (rowClick)="onRowClick($event)"
    (rowAction)="onRowAction($event)"
  >
    <ng-template [appTableCell]="vehicleKey" let-row>
      <app-vehicle-display [name]="row.marka" [plate]="row.registarskaOznaka" />
    </ng-template>
    <ng-template [appTableCell]="vehicleTypeKey" let-row>
      <app-vehicle-type-display [vehicleType]="asVehicleType(row.vehicleType)" />
    </ng-template>
  </app-data-table>
}
