@if (tableMounted()) {
  <app-data-table
    entityTab="freight"
    [definition]="table"
    [loader]="loadCargo"
    [rowClickEnabled]="true"
    (rowClick)="onRowClick($event)"
    (rowAction)="onRowAction($event)"
  >
    <ng-template [appTableCell]="routeKey" let-row>
      <app-route-display [origin]="row.origin" [destination]="row.destination" />
    </ng-template>
    <ng-template [appTableCell]="statusKey" let-row>
      <app-status-badge [status]="row.status" />
    </ng-template>
    <ng-template [appTableCell]="freightTypeKey" let-row>
      {{ freightTypeLabel(row.freightType) | translate }}
    </ng-template>
    <ng-template [appTableCell]="sizeKey" let-row>
      <app-freight-size-display [size]="row.size" [freightType]="row.freightType" />
    </ng-template>
    <ng-template [appTableCell]="neededByDateKey" let-row>
      <app-date-range-display [from]="row.neededByDate" />
    </ng-template>
  </app-data-table>
}
