<div class="entity-create-menu">
  <button
    type="button"
    class="entity-create-menu__trigger"
    [attr.aria-label]="openMenuAriaLabelKey() | translate"
    [attr.aria-expanded]="menuOpen()"
    aria-haspopup="menu"
    (click)="toggleMenu()"
  >
    <svg lucidePlus [size]="18" />
  </button>

  @if (menuOpen()) {
    <div class="entity-create-menu__panel" role="menu">
      @for (option of options(); track option.createUrl) {
        <button
          type="button"
          class="entity-create-menu__item"
          [ngClass]="entityContextClass(option.entityTab)"
          role="menuitem"
          (click)="selectOption(option.createUrl)"
        >
          <span class="entity-create-menu__icon">
            <ng-container *ngComponentOutlet="option.icon; inputs: iconInputs" />
          </span>
          <span class="entity-create-menu__label">{{ option.labelKey | translate }}</span>
        </button>
      }
    </div>
  }
</div>
