@if (!embedded()) {
  <app-page-title [titleKey]="pageTitleKey" [subtitleKey]="pageSubtitleKey" [icon]="pageIcon" />
}

@if (tableMounted()) {
  <app-data-table
    entityTab="warehouse"
    [definition]="table"
    [loader]="loadStorage"
    [rowClickEnabled]="true"
    (rowClick)="onRowClick($event)"
    (rowAction)="onRowAction($event)"
  >
    <ng-template [appTableCell]="warehouseKey" let-row>
      <app-warehouse-display [name]="row.warehouseName" [city]="row.warehouseCity" />
    </ng-template>
    <ng-template [appTableCell]="statusKey" let-row>
      <app-status-badge [status]="row.status" />
    </ng-template>
    <ng-template [appTableCell]="periodKey" let-row>
      <app-date-range-display [from]="row.availableFrom" [to]="row.availableTo" />
    </ng-template>
  </app-data-table>
}
